@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

body {
  background: #dbdbdb;
  font-family: "Lato", sans-serif;
}

input {
  margin: 10px;
}

nav {
  background-color: #2874f0;
  padding: 10px;
  position: sticky;
  top: 0;
  /* margin-bottom: 15px; */
  color: white;
  font-size: 22px;
  font-weight: 600;
}
.main {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.product {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.product span,
h3,
h4 {
  margin: 5px;
}

.product h4 {
  color: black;
  font-weight: 600;
}

.product:hover {
  box-shadow: -1px 7px 17px -7px rgb(0 0 0 / 75%);
}

.product-container img {
  height: 350px;
  width: 100%;
  border: 1px solid black;
}

.filter-elements {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  padding-bottom: 10px;
}

.main inputs,
select {
  padding: 10px;
  background: white;
  margin: 15px;
  flex-grow: 2;
  flex-shrink: 2;
}

.sort-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  width: 100%;
}

#clearAll {
  color: blue;
  text-decoration: underline;
}

#size-tag {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .filter-elements {
    display: flex;
    flex-direction: column;
  }
}
